@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");

/* Variáveis */

:root {
  --cor-primaria: #072069;
  --cor-secundaria: #ffffff;
  --azul-escuro: #041036;
  --azul-claro: #96b1ff;
  --cinza: #d9d9d9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--cor-primaria);
}

.btn {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  padding: 0.5em;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--azul-claro);
}

.menu-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  background-color: #091538;
  color: var(--cor-secundaria);
  width: 100%;
}

.menu-principal h1 {
  font-weight: 500;
}

.menu-principal ul {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 500;
}

.menu-principal li {
  padding: 1em;
  list-style: none;
  cursor: pointer;
}

.menu-principal li a {
  text-decoration: none;
  color: var(--cor-secundaria);
  transition: 0.2s;
}

.menu-principal li a:hover {
  color: var(--azul-claro);
}

.menu-principal li a.active {
  color: var(--azul-claro);
}

.menu-hamburguer {
  display: none;
}

.menu-hamburguer > label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

.menu-hamburguer > label > span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-color: var(--cor-secundaria);
  transition: 0.25s ease-in-out;
}

.menu-principal .active {
  height: 350px!important; /* Ajuste a altura máxima conforme necessário */
  transition: height 0.4s ease-in-out;
}

.menu-hamburguer > label > span:nth-child(1) {
  top: 0;
}

.menu-hamburguer > label > span:nth-child(2) {
  top: 8px;
}

.menu-hamburguer > label > span:nth-child(3) {
  top: 16px;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

/* Voltar ao topo */

.voltar-ao-topo {
  position: fixed;
  padding: 2em;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--cor-primaria);
  cursor: pointer;
  transition: 0.2s;
  animation: animar-botao 1s;
}

.voltar-ao-topo:hover {
  background-color: var(--azul-claro);
  padding: 2.2em;
}

.seta-cima {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes animar-botao {
  0% {
    bottom: 20px;
    opacity: 0;
  }

  100% {
    bottom: 50px;
    opacity: 1;
  }
}

/* Flexbox */

.container {
  width: 100%;
  padding: 5em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space {
  justify-content: space-between;
}

/* Rodapé */

.rodape {
  width: 100%;
  background-color: #000000;
  min-height: 100px;
  padding: 1.5em;
}

.rodape p {
  color: var(--cor-secundaria);
}

.rodape .rede-social svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  fill: white;
  transition: 0.5s;
}

.text-align-center {
  text-align: center;
}

@media (max-width: 575px) {
  .container {
    padding: 3em;
  }
  .row {
    flex-direction: column;
  }
  .col-sm {
    width: 100%;
  }

  .pendulos {
    display: none;
  }
}
